main {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

kit-box {
    text-align: left;
    background: #ffffff;
}

kit-box:hover {
    background: #f0f0f0;
}

kit-box img {
    float: left;
    height: 46px;
    width: 46px;
    margin-right: 10px;
    border-radius: 5px;
    background: #c0c0c0;
}

kit-box span {
    float: right;
}

kit-formgroup .textbox {
    max-width: calc(100% - 90px);
}

kit-formgroup kit-button {
    min-width: 90px;
}
